<launch>
    <arg name="angular_tolerance" value="0.7"/>
    <arg name="degree" value="180.0"/>    <!-- you can use +degree or -degree unit -->

    <param name="angular_scale" value="$(arg angular_tolerance)" />

    <node name="rotate_calibrate" pkg="sittwe_driver" type="drive_rotate" output="screen">
        <param name="rotate_degree" value="$(arg degree)"/>
    </node>
</launch>
