<launch>
    <arg name="linear_plus_scale" value="1.0"/>
    <arg name="linear_neg_scale"  value="1.0"/>
    
    <arg name="angular_plus_scale" value="1.0"/>
    <arg name="angular_neg_scale"  value="1.0"/>

    <include file="$(find sittwe_description)/launch/urdf.launch" />

    <node name="arduino_node" pkg="sittwe_driver" type="arduino_node.py" output="screen">
        <param name="port" value="/home/ubuntu/romrobotics" />
        <param name="baudRate" value="115200" />
    </node>
   
   <node name="twistToMotors" pkg="sittwe_driver" type="twist_to_motors" />

	<node name="base_controller_node" pkg="sittwe_driver" type="base_controller">
	    <param name="publish_tf" value="true" /> <!-- false for ekf -->
	    <param name="use_imu" value="false" /> <!-- false for only encoder -->
	    <param name="publish_rate" value="10.0" />
	    <param name="linear_scale_positive" value="$(arg linear_plus_scale)" />
	    <param name="linear_scale_negative" value="$(arg linear_neg_scale)" />
	    <param name="angular_scale_positive" value="$(arg angular_plus_scale)" />
	    <param name="angular_scale_negative" value="$(arg angular_neg_scale)" />
	    <param name="angular_scale_accel" value="1.0" />
	    <param name="alpha" value="1.0" />
	</node>
	 
	<include file="$(find sittwe_picam)/launch/camerav2_410x308_30fps.launch" />
</launch>
